In [6]:
# Always reload modules to have the current version
%reload_ext autoreload
%autoreload 2

In [7]:
from ranking.models.bm25 import BM25Model
from ranking.storage.document_store import DocumentStore
from ranking.util import dataset_paths as dp
from ranking.util import json_lines as jl
import ranking.evaluation.evaluate as ev

store = DocumentStore(dp.lemmatized_unique_functions_corpus)
eval_set = jl.read_jsonl(dp.unified_hoogle_results)
eval_set = eval_set[eval_set['hoogleRes'].str.len() > 0]
model = BM25Model(store)

In [8]:
print('Hoogle + BM25:')
ev.evaluate_model(model, eval_set)

Hoogle + BM25:

    Total  TopOne Total:  TopOne in %  TopTen Total:  TopTen in %       MRR
0  141962         131021      0.92293         138628     0.976515  0.946361